{% extends 'base.html' %}

{% block head %}
<title>Submit A Chat Page</title>
{% endblock %}

{% block body %}
<h1>Submit A Chat</h1>
<div>
    <form action="/chatSubmitted" method="POST" id="chat_source_form" enctype=multipart/form-data>
        <!-- Text box information -->
        <div>
            <!-- Submit transcript in text box -->
            <h2>Chat Transcript</h2>
            <p><label for="transcript_text_box">Paste Dialog Transcript Below</label></p>
            <textarea id="transcript_text_box" name="transcript_text" rows="10" cols="75"></textarea>
            <!-- Page break to put submit form on new line -->
            <br>
        </div>
        <div>
            <!-- Upload file to chat -->
            <h2>Upload Chat File</h2>
            <label for="chatfile">Select transcript text file:</label>
            <input type="file" id="chatfile" name="chatfile">
            <!-- Page break to put submit form on new line -->
            <br>
        </div>
        <div>
            <!-- Upload file to chat -->
            <h2>Summary Options</h2>
            {% for opt in opts %}
            <input type="checkbox" id="summarizer_opt_{{loop.index}}" name="summarizer_opt_{{opt[0]}}" value="{{opt[0]}}">
            <label for="summarizer_opt_{{loop.index}}">{{ opt[1] }}</label><br>
            {% endfor %}
            <!-- Page break to put submit form on new line -->
            <br>
        </div>
        <!-- Submit button -->
        <input type="submit" value="Summarize!">
    </form>
</div>
{% endblock %}